@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
	margin: 0;
	font-family: "Yusei Magic", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 100px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
